@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

$primary-color: #000;
$primary-color-hover: #333;
$secondary-color: #d9d9d9;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.1em;
  line-height: 28px;
}

img {
  max-height: 100%;
  height: auto;
}
