@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

$image-radius: 20px;
$primary-color: #000;
$primary-color-hover: #333;
$secondary-color: #d9d9d9;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.1em;
  line-height: 28px;
  // background-color: red;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 18px;
  font-size: 1.6rem;
}

p {
  margin-bottom: 10px;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

input {
  font-family: inherit;
  border: 0;
  font-size: 1.1em;
  height: 65px;
  padding: 10px;
  box-sizing: border-box;

  &::placeholder {
    color: $secondary-color;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'header mobile-menu'
    'slogan slogan'
    'author author'
    'social social'
    'container container'
    'footer footer';
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  padding: 40px 0;
}

.mobile-menu {
  grid-area: mobile-menu;
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-self: end;
  font-size: 0.8em;
}

.slogan {
  grid-area: slogan;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}

.author {
  grid-area: author;
  display: grid;
  grid-template-columns: 1fr 1fr; // grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 6%;
  padding: 25px 0;
  grid-template-areas:
    'author-image author-image'
    'author-content author-content ';

  img {
    border-radius: $image-radius;
  }

  .author-image {
    grid-area: author-image;
  }
  .author-content {
    grid-area: author-content;
  }
}

.social {
  grid-area: social;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: 'newsletter' 'networks';
  grid-row-gap: 20px;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;

  .newsletter {
    grid-area: newsletter;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .subscribe-button {
      background-color: $primary-color;
      color: #fff;
    }
  }
  .networks {
    grid-area: networks;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    height: 56px;

    a {
      // border: 1px solid #000;
      flex-grow: 1;
      text-align: center;
      flex-basis: 0;
    }
  }
}
.container {
  grid-area: container;
}

.article {
  display: grid;
  grid-gap: 6%;
  padding: 25% 0;
  border-bottom: 1px solid $secondary-color;
  grid-template-areas: 'thumbnail' 'content';

  .thumbnail {
    grid-area: thumbnail;
    height: 217px;

    img {
      border-radius: $image-radius;
    }
  }

  .content {
    grid-area: content;
  }
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 736px) {
  .social {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'newsletter networks';

    .networks {
      margin-bottom: 0;
    }
  }
  .author {
    grid-template-areas: 'author-image author-content';
  }
}
