@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300&display=swap');

$primary-color: #000;
$primary-color-hover: #333;
$secondary-color: #d9d9d9;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.1em;
  line-height: 28px;
  // background-color: red;
}

img {
  max-height: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin-bottom: 18px;
  font-size: 1.6rem;
}

p {
  margin-bottom: 10px;
}

a {
  color: $primary-color;

  &:hover {
    color: $secondary-color;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'header mobile-menu'
    'slogan slogan'
    'author author'
    'social social'
    'container container'
    'foooter footer';
  max-width: 600px;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  padding: 40px 0;
}

.mobile-menu {
  grid-area: mobile-menu;
}

.slogan {
  grid-area: slogan;
}

.social {
  grid-area: social;
}

.author {
  grid-area: author;
}

.container {
  grid-area: container;
}

.footer {
  grid-area: footer;
}
